$black: #000000;
$white: #ffffff;

$link-color : #226699;
$link-bg-hover : #ffaa00;

$navitem-inactive-1: #f0f0f0;
$navitem-inactive-2: #aaaaaa;

$navitem-active-1: #87cefa;
$navitem-active-2: #23a5f6;

$text-input-bg-active: #ccddee;

$footer-bg-oldbrowsers: #cccccc;
$footer-bg-newbrowsers: #555555;

$copyright-text-color: #ffffff;

$skill-inactive-bg: #ffaa00;
$skill-active-bg-1: #87cefa;
$skill-active-bg-2: #226699;
