/* Universal elements */
a {
  color: #226699;
  text-decoration: none;
}

a:hover {
  background-color: #ffaa00
}

/* My classes and elements */
.site {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: sans-serif;
  display: block;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

#navBar {
  height: 80px;
  background-color: #ffffff;
}

.navItem {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

.navItem.inactive {
  background: #f0f0f0; /* Old browsers */
  background: -moz-linear-gradient(top,  #f0f0f0 0%, #aaaaaa 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f0f0f0 0%,#aaaaaa 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f0f0f0 0%,#aaaaaa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
}

.navItem.active {
  background: #87cefa; /* Old browsers */
  background: -moz-linear-gradient(top,  #87cefa 0%, #23a5f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #87cefa 0%,#23a5f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #87cefa 0%,#23a5f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87cefa', endColorstr='#23a5f6',GradientType=0 ); /* IE6-9 */
}

#navBarLogo {
  display: inline-block;
  height: 40px;
  width: 50px;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
}

#mainContainer {
  position: absolute;
  top: 80px;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #cccccc;
  overflow-y: auto;
}

.pageTitle {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 50px;
}

.pageSubtitle {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 32px;
}

.pageContent {
  margin-top: 10px;
  margin-left: 20px;
}

#footer {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #cccccc 0%, #555555 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cccccc 0%, #555555 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cccccc 0%, #555555 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#copyright {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 12px;
}

/* Contact page */
#contactList {
  padding: 20px 0 20px 0;
}

.contactItem {
  padding: 5px 0 5px 20px;
  font-size: 20px;
}

.formButton {
  font-size: 50px;
}

.formText {
  border-radius: 5px;
  font-size: 16px;
  margin: 2px 0;
}

.formText:focus {
  background-color: #ccddee;
}

/* Resume page */
#skills {
  width: 1000px;
  height: 240px;
}

.skill {
  width: 200px;
  float: left;
  font-size: 20px;
  margin: 10px 20px 10px 0;
  padding: 10px;

  text-align: center;
  background-color: #ffaa00;
  border-radius: 5px;
}

.skill:hover {
  box-shadow: 2px 2px 0 #996600;
  cursor: default;
}

.workHistory, .educationHistory {
  width: 1000px;
  margin-top: 10px;
  padding: 5px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

.workHistoryHeader, .educationHistoryHeader {
  font-size: 28px;
  font-weight: bold;
  height: 60px;
  width: 1000px;
  margin-bottom: 10px;
}

.workHistorySummary, .educationHistorySummary {
  font-size: 18px;
  width: 1000px;
}

.companyLogo {
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

.left {
  display: inline-block;
  vertical-align: middle;
}

.right {
  display: inline-block;
  vertical-align: middle;
  float: right;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
