.site {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-family: sans-serif;
  display: block;
}

#navBar {
  height: auto;
  background-color: #ffffff;
}

.navItem {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  border: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
}

.navItem.inactive {
  background-color: #f0f0f0;
}

.navItem.active {
  background-color: #87cefa;
}

#navBarLogo {
  display: inline-block;
  height: 40px;
  width: 50px;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
}

#mainContainer {
  background-color: #cccccc;
  height: auto;
}

#pageTitle {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 50px;
}

#footer {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top,  #cccccc 0%, #555555 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #cccccc 0%, #555555 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #cccccc 0%, #555555 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}
