/**
 * Note: The icon images used here are
 * hotlink protected and will not work
 * outside of Codepen.
 *
 * You can get the icons to host yourself
 * here: http://simpleicons.org/
 */
.icon a {
  display: inline-block;
  float: right;
  margin-left: 5px;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.icon__name {
  float: right;
  vertical-align: middle;
  margin-top: 25px;
  width: 100%;
  color: #ffffff;
  font-size: 11px;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 0;
  -webkit-filter: blur(25px);
          filter: blur(25px);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.icon--facebook a {
  background-color: #3b5998;
  background-image: url('/assets/images//facebook-128.png');
}

.icon--twitter a {
  background-color: #00aced;
  background-image: url('/assets/images//twitter-128.png');
}

.icon--linkedin a {
  background-color: #007fb1;
  background-image: url('/assets/images//linkedin-128.png');
}

.icon--instagram a {
  background-color: #5c3d2e;
  background-image: url('/assets/images//instagram-128.png');
}

.icon--soundcloud a {
  background-color: #f60;
  background-image: url('/assets/images//soundcloud-128.png');
}

.icon--github a {
  background-color: #4183c4;
  background-image: url('/assets/images/github-128.png');
}

.icon--google a {
  background-color: #dd4b39;
  background-image: url('/assets/images/icon-google-plus.png');
}
