@import 'animations';
@import 'colors';
@import 'fonts';
@import 'social';
@import 'text';

/* Universal elements */
.text-link {
    color: $link-color;
    text-decoration: none;

    &:hover {
        background-color: $link-bg-hover;
        -o-transition:.4s;
        -ms-transition:.4s;
        -moz-transition:.4s;
        -webkit-transition:.4s;
        transition:.4s;
    }
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
}

#main {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
